.friend-buttons{
  position: absolute;
  right: 0px;
  padding: 8px;
}
.friend-card{
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  box-shadow:1px 1px black;
  border: solid 1px black;
  border-radius: 8px;
}
.stats{
  display: flex;
  span{
    padding:2px 8px;
    font-size: 10px;
    letter-spacing: -0.1px;
    font-weight: 800px;
  }
}
#btn-search{
  position: relative;
  left: -50px;
}
