.btn-base {
position: absolute;
right: 6px;
bottom: 6px;
z-index: 500;
}





.btn-compass{
  position: absolute;
  bottom: 6px;
  z-index: 500;
}


.btn-past{
  position: absolute;
  left: 6px;
  bottom: 6px;
  z-index: 500;
}

.left-bottom {
  position: absolute;
  left: 6px;
  bottom: 6px;
  z-index: 500;
}

.right-bottom {
  position: absolute;
  right: 6px;
  bottom: 6px;
  z-index: 500;
}
