
.raid-action{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 16px;
  h3,a{
    font-size: 18px;
    color: wheat;
    font-weight: 800;
    text-decoration: none;
  }
}
