<div class="friend">
  <ul class="list-inline tabs-underlined">
    <li>
      <span id="addfriend" class="tab-underlined">Add Friend</span>
    </li>
    <li>
      <span id="friendrequest" class="tab-underlined">Friend Requests</span>
    </li>
    <li>
      <span id="myfriends" class="tab-underlined active">Friend List</span>
    </li>
  </ul>
  <div class="dom">
    <div class="displayfriends">
<!--       <div class="friend-card">
        <h2>Kirito</h2>
        <div class="stats">
          <span>Level<br>test</span>
          <span>Title<br>Demon Slayer</span>
          <span>Aliance<br>Kingdom of Hearts<3</span>
        </div>
      </div>
      <div class="friend-card">
        <h2>Kirito</h2>
        <div class="stats">
          <span>Level<br>test</span>
          <span>Title<br>Demon Slayer</span>
          <span>Aliance<br>Kingdom of Hearts<3</span>
        </div>
      </div> -->
    </div>
  </div>
</div>
<script>
  const displayfriends = document.querySelector('.displayfriends');
  const tabs = document.querySelectorAll('.tab-underlined');
  tabs.forEach((element) => {
    element.addEventListener('click', (item) => {
      cleaner();
      item.target.classList.add('active');
      switch (item.target.id) {
        case 'addfriend':
          console.log('1')
          break;
        case 'friendrequest':
          console.log('2')
          break;
        case 'myfriends':
          myfetch('../friends')
      }
    });
  });

  const cleaner = () => {
    tabs.forEach((element) => {
      element.classList.remove('active');
      displayfriends.innerHTML = ''
    })
  }

  const showfriends = (bigdata) => {
    bigdata['friends'].forEach((data) =>{
      let carddiv = document.createElement("div");                 // Create a <li> node
        carddiv.classList.add('friend-card');
        displayfriends.appendChild(carddiv);
      let h2 = document.createElement("h2");
        h2.textContent = data[1];
        carddiv.appendChild(h2);
      let statsdiv = document.createElement("div");                 // Create a <li> node
        statsdiv.classList.add('stats')
        carddiv.appendChild(statsdiv);
      let level = document.createElement("span");
      let title = document.createElement("span");
      let aliance = document.createElement("span");
        level.innerHTML = `Level<br>${data[2]['level']}`
        statsdiv.appendChild(level);
        title.innerHTML = `Level<br>${data[2]['title']}`
        statsdiv.appendChild(title);
        aliance.innerHTML = 'Aliance<br>None'
        statsdiv.appendChild(aliance);
      });
  }
  const myfetch = (location) => {
      fetch(location)
        .then((response) => {
          return response.json();
        }).then((data) => {
          showfriends(data)
        });
    }
</script>
