<h1>UserResources#create</h1>
<p>Find me in app/views/user_resources/create.html.erb</p>




create a pop up on the views page
the pop up renders this page
on the pop up there is a screen of different items you can build
the items cost a certain amount of resources
when you click on the item the button redirects to a function in the controller
the function in the controller checks to see if you have the availibe resourses to build
if yes you are allowed to build the item at the place on the map
if no it says you do not have enough resources


delete building
click on a building on a map to select it
after the building is clicked a delete button appears as an option somewhere
when the delete button is pressed a pop up appears that ask if you are sure
if yes the item that was on the map is deleted


