<!-- `You just got\n
                      Name : ${data[0]}\n
                      Rarity : ${data[1].toUpperCase()}\n
                       his Stats:\n
                       Attack: ${data[2]}\n
                       Defense: ${data[3]}`}); -->



<h1 id="test"><%= data.name %></h1>
