<!DOCTYPE html>
<html class="fail-html">
<head>
  <title>BepBop 404</title>
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, maximum-scale=1">
  <meta charset="UTF-8">
  link
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body class="fail-body">
  <section class="error-body">
    <video preload="auto" class="background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/err.mp4" autoplay muted loop></video>
    <div class="message">
      <h1 t="404">404</h1>
      <div class="bottom">
        <p>You have lost your way</p>
        <a href="#">return home</a>
      </div>
    </div>
  </section>
</body>
</html>
