<div class="flex">
  <div class="site">
    <div class="sketch">
      <div class="bee-sketch red"></div>
      <div class="bee-sketch blue"></div>
    </div>

  <h1 class="desktop">404:
    <small>We dont support Desktop<br>Please move to mobile ER 😊</small></h1>
  </div>
</div>
