<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <!-- <script src="phaser.js"></script> -->
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
</head>
<body>
  <!-- <h1>TESTESTETST</h1> -->

  <div class="container">
      <button id="switch">Switch</button>
    <div id="map">
      <!-- MAP IS LOADED HERE!-->
    </div>
  </div>
  <%= javascript_pack_tag 'gamepage' %>
</body>
</html>
