    <div class="container" style="padding: 0 z-index: 60">
        <button id="switch">Switch</button>
        <button id="shop" href="../user_units/new">Shop</button>
      </div>
      <div id="map"
        data-markers="<%= @cache_resources.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
<!--     <button id="switch">Switch</button>
 --><div class="phaser-app"></div>
