<div id="stories-carousel" class="carousel slide carousel-fade"  data-ride="carousel" data-interval="5000" data-wrap="false">
  <div class="carousel-inner">

    <div class="carousel-item active" id="image1">
      <!-- <img src="https://res.cloudinary.com/dgq92f6st/image/upload/v1582635128/wavepainting_e9rqvg.jpg" class="d-block w-100" alt="..."> -->
      <div class="carousel-caption">
        <p id="text-one">The year is 2060...or 61...it could be 65 for all I know. The last few years have been a blur....</p>
      </div>
    </div>

    <div class="carousel-item" id="image2">
      <center><%= link_to "Skip", games_main_path, class: "btn btn-skip" %></center>
      <div class="carousel-caption">
        <p id="text-three">I try to put the past in the past, and lets just say that something happened. What I once thought of as the world, well... it’s not that way any more....</p>
      </div>
    </div>

    <div class="carousel-item" id="img3">
      <center><%= link_to "Skip", games_main_path, class: "btn btn-skip" %></center>
      <div class="carousel-caption">
        <p id="text-two">I was one of the lucky ones, working for an oil mining rig off the coast of Manila, when all of a sudden there was a flash of light.</p>
      </div>
    </div>

  <div>
    <a class="carousel-control-prev" href="#stories-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#stories-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>

