<!-- scene 1 -->

<div class="card-cinematic" id="cinematic-1">

<strong><p>The year is 2060 ... or 61 ...it could be 65 for all I know. The last few years have been a blur....</p></strong>

</div>


<!-- scene 2 -->

<div class="card-cinematic" id="cinematic-2">
<p><strong>I try to put the past in the past, and lets just say that something happened. What I once thought
of as the world, well... it’s not that way any more....</strong></p>
</div>

<!-- scene 3 -->


<div class="card-cinematic" id="cinematic-3">
<p><strong>I was one of the lucky ones, working for an oil mining rig off the coast of Manila, when all of a sudden there was a flash of light and next thing I know I end up on a sandy beach with nothing around me...</strong></p>
</div>

<!-- scene 4 -->


<div class="card-cinematic" id="cinematic-4">
<strong><p>I didn’t see anyone for a long time and so I began exploring the island, getting a
feel for the place. Luckily my dad taught me to fish when I was a kid, and the monkeys here
make good companions.</p></strong>
</div>
<!-- scene 5 -->

<!-- scene 6 -->
<div class="card-cinematic" id="cinematic-6">
<p><strong>As I continued to explore the island, I discovered a strange cave. It took time for me to build up the courage to go in, and when I
finally did I saw two bright blue portal looking.. but I stayed away from them for the time being.. </strong></p>
</div>

<!-- scene 7 -->

<div class="card-cinematic" id="cinematic-7">
  <p><strong>...Until two weeks ago, when I had my first visitor arrive at the island. They came in, must have been about 20 of them on a small boat, and before I knew what was going on, they attacked me.. Luckily he
let me live, but took everything that I had gathered and built for myself on the island</strong></p>
</div>
<!-- scene 8 -->

<div class="card-cinematic" id="cinematic-8">
  <p><strong>A week had passed, and another boat approached the island. This time I was more cautious. I watched as they took over the island, destroying everything in there way. I had no choice but to flee to the caves to keep myself safe. </strong></p>
</div>
<!-- scene 9 -->

<div class="card-cinematic" id="cinematic-9">
  <p><strong>A day went by when all of a sudden I heard steps approaching the cave... with my life on the line and not knowing what to do I walked toward the blue lights when all of a sudden everything vanished..As my body was forced into the light, I had someone, or something talking to me, telling me what I had to
do. I guess I had a role, a part, in rebuilding this world, and to do it I was going to need help, and from my own people. Just not the people in the time where I currently was, but I guess you
could say, I know it sounds crazy, but those from the past...</strong></p>
</div>

<!-- scene 10 -->

<div class="card-cinematic" id="cinematic-10">
  <p><strong>Out of nowhere, I find myself standing about a kilometer from a castle, with a group of men on horseback approaching me. The
whole thing was so jarring, but it was good to feel the grass again and see nothing but land as
far as the eye could see. I wasn’t sure what to expect having just fled from a raid, but the group
halted 10 horse lengths in front of me, and a solo knight on a horse strode up and said, “We
have been expecting you"..</strong></p>
<p><strong>I was escorted to the king and his high priest. They said they had something to show me, took
me down some stairs and there it was, the same portal I had jumped into. They had been trying
to go through but were not able to. The priest spoke up and said that they couldn’t go through because they were not the chosen ones. He explained that he had sent for me because I was one of the only ones able to explore the other realms..</strong>
</p>
</div>

<!-- scene 11 -->

<div class="card-cinematic" id="cinematic-11">
  <p><strong>Standing there, bewildered, he continued to tell me that I had to bring him things from the future. By bringing medals, signas, trinkets, and other items, he would be able to figure out which people of his to send from the past to help me on my current
quest.</strong></p>
<p><strong>After hearing everything I just heard, I had no choice but to accept my fate and enter the portal.</strong>
</p>
</div>

<!-- scene 12 -->

<div class="card-cinematic" id="cinematic-12">
  <p><strong>As I went through I realized how complicated it all was for me.
  I realized that the only way for me to survive was to gather the resources and
build my base to the best of my ability to preserve my life on Earth and bring back what the Priest had wanted... </strong>
</p>
</div>


<!-- scene 13 -->

<div class="card-cinematic" id="cinematic-13">

<%= link_to "Enter", user_session_path, class: "enter" %>
</div>
