<!-- scene 1 -->

<div class="card-cinematic"
  style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
 <%= cl_image_tag("globe1_cy3cci.jpg", width: 400, height: 300, crop: :fill)%>"> mThe year is 2060 ... or 61 ... shit it could be 65 for all I know. The last 5 have been hell....

</div>

<!-- scene 2 -->

<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>
  I try to put the past in the past, let’s just say that something happened, and what I once thought
of as the world, well... it’s not that way any more....
</div>

<!-- scene 3 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 4 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 5 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 6 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 7 -->

<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 8 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 9 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 10 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 11 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 12 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 13 -->


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>

<!-- scene 14 -->

<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>



<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>


<div class="card-cinematic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), cl_image_tag("globe1_cy3cci.jpg")>

</div>
