<!-- scene 1 -->

<div class="card-cinematic" id="cinematic-1" >

 <strong>The year is 2060 ... or 61 ...it could be 65 for all I know. The last few years have been a blur....</strong>

</div>


<!-- scene 2 -->

<div class="card-cinematic" id="cinematic-2">
  <strong>I try to put the past in the past, and lets just say that something happened. What I once thought
of as the world, well... it’s not that way any more....</strong>
</div>

<!-- scene 3 -->


<div class="card-cinematic" id="cinematic-3">
<strong>I was one of the lucky ones, working for an oil mining rig off the coast of Manila, when they hit it
was just a flash of light and next thing I know I am on this sandy beach, nearest I can tell the
tide must have carried me damn near 20k...</strong>
</div>

<!-- scene 4 -->


<div class="card-cinematic" id="cinematic-4">
<strong>Didn’t see anyone for a long time, a long long time. Just started exploring the island, getting a
feel for the place. Luckily my dad taught me to fish when I was a kid, and the monkeys here
make good companions. Stuff floated up to shore every now and then, most if it junk, but there
were a few phones.</strong>
</div>
<!-- scene 5 -->

<div class="card-cinematic" id="cinematic-5">
  <strong>The big break was when I found a solar battery charger. There are only so many combinations
on a 4 or 6 digit password, so time was on my side. Checked out the pictures, media feeds.
Just WTF. I’ll spare you the details...</strong>
</div>
<!-- scene 6 -->
<div class="card-cinematic" id="cinematic-6">
<strong>On the island there was a weird cave, I didn’t go into it till I had to. In the back were two... well
I guess you would call them portals.</strong>

</div>

<!-- scene 7 -->

<div class="card-cinematic" id="cinematic-7">
  <strong>About two weeks ago I had my first, well, I guess you would say visitor in a while, thing is
meeting him both almost cost me and might have saved my life.</strong>
  <strong>They came in, must have been about 20 of them on a small boat, raided me. Let me know that
is the way the world is now. I guess I should have known looking thru the pics on that iphone
things had gone mad, but it is one thing to see it, another to have it happen to you. Luckily he
let me live, said the next ones might not be so nice...</strong>
</div>
<!-- scene 8 -->

<div class="card-cinematic" id="cinematic-8">
  <strong>About a week later, just about when I was healed up, another boat hit, this time they dropped
some mortars on the islands on their way in, god knows why. Looks like it might have been an
ex navy rig. The safest place on the island was in those caves so ran there.</strong>
</div>
<!-- scene 9 -->

<div class="card-cinematic" id="cinematic-9">
  <strong>They were mad, came running in, burning everything in site, a few of them came in the caves,
were rushing me, shooting at me, so I figured what the hell and jumped in...</strong>
  <strong>When I entered that portal I had someone, or something talking to me, telling me what I had to
do. I guess I had a role, a part, in rebuilding this world, and to do it I was going to need help,and from my own people. Just not the people in the time where I currently was, but I guess you
could say, I know it sounds crazy, but those from the past...</strong>
</div>

<!-- scene 10 -->

<div class="card-cinematic" id="cinematic-10">
  <strong>I came to about a kilometer from a castle, a group of men on horseback approaching me, the
whole thing was so jarring, but it was good to feel the grass again and see nothing but land as
far as the eye could see. I wasn’t sure what to expect, just fleeing from a gunfight, but the group
halted 10 horse lengths in front of me, and a solo knight on a horse strode up and said, “We
have been expecting you"...</strong>
<strong>I was escorted to the king and his high priest. They said they had something to show me, took
me down some stairs and there it was, the same portal I had jumped into. They had been trying
to go through but to no avail. The priest spoke up and said that they couldn’t go through yet, the
only ones who could go through are those who had been called, and then he said something
that shook me, he said that I..I was the one who called them.</strong>
</div>

<!-- scene 11 -->

<div class="card-cinematic" id="cinematic-11">
  <strong>He told me to bring him things from the future, medals, signas, trinkets, he said that by looking
at these he could know which people of his to send from the past to help me on my current
quest.</strong>
<strong>After hearing everything I just heard, I had no choice but to accept my fate and enter the portal.</strong>

</div>

<!-- scene 12 -->

<div class="card-cinematic" id="cinematic-12">
  <strong>As I went through I realized how complicated it all was for me.
  I realized that the only way for me to survive was to gather the resources and
build my base to the best of my ability to preserve life on Earth and get back to where I once was... </strong>
</div>

<!-- scene 13 -->

<div class="card-cinematic" id="cinematic-13">

</div>


