 <div class="tab-pane fade" id="dudes" role="tabpanel">
        <p>Trade in Gems to gain more units!</p>
          <div class="first-row-exchange">
          <div class="one-warrior">
              <a href="#" class="resource-chooser" data-resource="gems" data-amount="10">
                <div class="card-trip-exchange">
                  <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png" />
                  <div class="card-trip-infos">
                  <h2>1 Fighter</h2>
                  <h2>10 Gems</h2>
                  </div>
                </div>
              </a>
            </div>

         <div class="ten-warriors">
              <a href="#" class="resource-chooser" data-resource="gems" data-amount="90">
                <div class="card-trip-exchange">
                  <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png">

                  <div class="card-trip-infos">
                  <h2>10 Fighters</h2>
                  <h2>90 Gems</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="second-row-exchange">

            <div class="one-mage">
              <a href="#" class="resource-chooser" data-resource="gems" data-amount="10">
                <div class="card-trip-exchange">
                  <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png" />
                  <div class="card-trip-infos">
                  <h2>1 Mage</h2>
                  <h2>10 Gems</h2>
                  </div>
                </div>
              </a>
            </div>

            <div class="ten-mages">
              <a href="#" class="resource-chooser" data-resource="gems" data-amount="90">
                <div class="card-trip-exchange">
                  <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png"/>
                  <div class="card-trip-infos">
                  <h2>10 Mages</h2>
                  <h2>90 Gems</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>



