<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#"><i class="fas fa-exchange-alt fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-users fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-tools fa-2x"></i></a>
  </li>
</ul>


<!-- approach 1 -->
 <!-- send get request , 'shop/:filter' -->
 <!-- @search = params[filter'] -->
 <!-- approach 2 -->
 <!-- javascript when filter is clicked -> display:none for non related , display: block for filter choice -->

<div class="pg-exchange">
  <%= form_tag inventory_exchange_path do %>
    <div class="resources">
      <div class="first-row-exchange">
        <div class="exchange-wood">
          <a href="#" class="resource-chooser selected" data-resource="wood" data-amount="100">
            <div class="card-trip">
              <img src="https://files.slack.com/files-pri/T02NE0241-FUPHY18VA/log-2.png" />
              <div class="card-trip-infos">
              <h1>Wood</h1>
              </div>
            </div>
          </a>
        </div>

        <div class="exchange-water">
          <a href="#" class="resource-chooser" data-resource="water" data-amount="100">
            <div class="card-trip">
              <img src="https://files.slack.com/files-pri/T02NE0241-FUQ1UP6SU/water-2.png" />
              <div class="card-trip-infos">
              <h1>Water</h1>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="second-row-exchange">

        <div class="exchange-metal">
          <a href="#" class="resource-chooser" data-resource="metal" data-amount="100">
            <div class="card-trip">
              <img src="https://files.slack.com/files-pri/T02NE0241-FURT82CHM/metal-2.png" />
              <div class="card-trip-infos">
              <h1>Iron</h1>
              </div>
            </div>
          </a>
        </div>

        <div class="exchange-gold">
          <a href="#" class="resource-chooser" data-resource="gold" data-amount="5">
            <div class="card-trip">
              <img src="https://files.slack.com/files-pri/T02NE0241-FUS80N2HL/gold.png" />
              <div class="card-trip-infos">
              <h1>Gold</h1>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div>
    <%= number_field_tag :amount, 0, min: 0 %>
    </div>

    <%= hidden_field_tag 'material', :wood %>
    <%= submit_tag "Exchange!" %>
  <% end %>
</div>
