

<!-- add a background image in a carosel feature
the background image has a header over the top that says something
like buy units
there is two buttons on the page, one to buy 1, one to buy 5
when you press the button a pop up occurs
the pop up has some animation, then shows the guy you got
the guy you got is random from a method that needs to be created
this method gives you a certain percentage to get each guy
the picture of the guy pops up, and when you press on it you are
returned to the buy screen
if you press the buy 5 button the method is ran 5 times
your inventory is updated with the unit that you bought
there are two different pages, one to buy fighters, one for mages
actions are the same on both pages -->


<!-- run migration, update database with all the fields needed for units

update database create a new one for structures, create the tables
 -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dgq92f6st/image/upload/v1582479033/firstmeeting1_xusbw5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dgq92f6st/image/upload/v1582622819/image_160_v68j2n.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dgq92f6st/image/upload/v1582622679/merchantbackground_hdeyzg.jpg" alt="...">
    </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<!-- Need to insert the message in the carosel
 --><h1> Buy a fighter!!! </h1>
    <h1> Buy a mage!!! </h1>

<!-- these buttons stay the same at the bottom of the page -->

<div id="add-one-unit" data-amount='1'>
  <p> button 1</p>
</div>

<div id="add-five-unit" data-amount='5'>
  <p>button 5</p>
</div>





<script>


  let handleUnitCreation = (amount) => {
    let formPayload = new FormData()
    let body = JSON.stringify({
      amount: amount.dataset.amount
    })
    formPayload.append('user_units', body);

    sendRequest(formPayload)
  }

  let sendRequest = (body) => {
    let csrf = document.querySelector('meta[name="csrf-token"]')
    fetch('http://localhost:3000/user_units', {
      method: 'post',
      headers: {
        'X-CSRF-Token': csrf.content
      },
      body: body
    })
  }




  let addOne = document.querySelector('#add-one-unit');
  let addFive = document.querySelector('#add-five-unit');

  addOne.addEventListener('click', () => handleUnitCreation(addOne))
  addFive.addEventListener('click', () => handleUnitCreation(addFive))



</script>

<!-- type is 1 or.5 -->
