.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.res-bar {
  justify-content: center;
  display: flex;
  width:100%;
  margin-top: 45px;
  margin-right: 10px;
  div {
    height: 65px;
    width: 65px;
    margin: 6px;
    img {
      object-fit: contain;
      margin: 0 4px;
    }
  }
}
