
.nav-tabs{
  display: flex;
  justify-content: space-evenly;
  .nav-item{
    flex-grow: 1;
    text-align: center;
  }
}

.resource-chooser.selected{
  .card-trip-exchange{
    box-shadow: 0 0 16px 8px white;
    // background-color: #ffff66;
  }
}

.first-row-exchange{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.second-row-exchange{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.quant-exchanged{
  margin-bottom: 30px;
}

.submitted-exchange-fields{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#amount{
  font-size: 20px;
}


input[type=submit] {
  font-size: 25px;
}


.card-trip-exchange{
  width: 130px;
  overflow: hidden;
  background: #9a7c62;
  border: 2px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  border-radius: 12px;
  text-decoration: none;
  // &:hover {
  //   box-shadow: 0 0 16px 8px white;
  // }
  img{
    height: 120px;
    width: 130px;
    object-fit: contain;
    padding: 16px;
    filter:
      drop-shadow(1px 1px 0px #000)
      drop-shadow(-1px 1px 0px #000)
      drop-shadow(1px -1px 0px #000)
      drop-shadow(-1px -1px 0px #000)
      drop-shadow(0 0 12px rgba(247, 243, 199, 1.2));
  }
  h2{
    margin-top: 2px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
}

p{
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.fa-exchange-alt{
  color: black;
}
.fa-users{
  color: black;
}

.fa-tools{
  color: black;
}

.fa-street-view{
  color: white;
}
.icons-store{
  display: flex;
  flex-direction: column;
}

.structure-cards {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 8px;
}

.structure-card-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.structure-card-item > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.structure-card-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.structure-card-item p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.structure-card-item .structure-card-item-infos {
  margin-top: 6px;
  margin-bottom: px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.structure-card-row {
    width: auto;
    margin-bottom: 8px;
}
.structure-card-flex-item h2 {
    text-align: center;
}

.resource-price-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.resource-price {
  display: flex;
  flex-direction: column-reverse;
}


.structure-buy-btn {
  color: white;
  padding: 4px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.structure-buy-btn:hover {
  background: #00b363;
  color: white;
  text-decoration: none;
}

.pg-exchange {
  p {
    color: black;
    padding: 0 16px;
  }
}

.exchange-btn {

}

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}


.exchange-btn {
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
  }
  font-size: 16px;
  font-weight: 600;
  color: $text;
  text-transform: uppercase;
  padding: 14px 24px;
  background: $light-pink;
  border: 2px solid $pink-border;
  border-radius: 16px;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark-pink;
    border-radius: inherit;
    box-shadow: 0 8px 12px rgba(0,0,0,0.6);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }
  &:hover {
    background: $pink;
    transform: translate(0, 0.25em);
    &::before {
      box-shadow: 0 8px 12px rgba(0,0,0,0.6);
      transform: translate3d(0, 0.5em, -1em);
    }
  }
  &:active {
    background: $pink;
    transform: translate(0em, 0.75em);
    &::before {
      box-shadow: 0 8px 12px rgba(0,0,0,0.6);
      transform: translate3d(0, 0, -1em);
    }
  }
  i {
    margin-left: 6px;
  }
}
