
.nav-tabs{
  display: flex;
  justify-content: space-evenly;
  .nav-item{
    flex-grow: 1;
    text-align: center;
  }
}

.first-row-exchange{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.second-row-exchange{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.card-trip{
  width: 120px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  img{
    height: 100px;
    width: 120px;
    object-fit: cover;
  }
  h1{
    text-align: center;
    color: black;
  }
}

.fa-exchange-alt{
  color: black;
}
.fa-users{
  color: black;
}

.fa-tools{
  color: black;
}

.fa-street-view{
  color: white;
}
.icons-store{
  display: flex;
  flex-direction: column;
}
.grid-container {
  width: 400px;
  height: 300px;
  border: 1.5px solid var(--text-color);
  display: grid;
  gap: 2px;

  grid-template: repeat(6, 1fr) / repeat(12, 1fr);
}

.grid-container .grid-item {
  border: 1.5px solid var(--text-color);
  text-align: center;
  padding: 0.5rem;
  word-break: break-all;
}

.grid-container .navbar {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}
.grid-container .header {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.grid-container .content {
  grid-column: 1 / -1;
  grid-row: 3 / -2;
}
// .grid-container .footer {
//   grid-column: 2 / -1;
//   grid-row: -2 / -1;
// }
// .grid-container .meta {
//   grid-column: -3 / -1;
//   grid-row: 2 / 4;
// }

/* Grid implementation */
.grid-container-box {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-container-box .grid-item-box {
  box-shadow: 4px 5px 10px 4px rgba(0,0,0,0.5);
}
