
.con,#phaser-app {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  right: 0;
  margin: 0;
  padding: 0;
}
#map,canvas {
  width: 100vw;
  height: 100vh;
}
#raid, #friend{
  background-color: gray;
}
.extract-button button {
  position: relative;
  top: -18px;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.extract-button button:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
*{
  padding:0;
}

#dropdownMenuButton {
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
  border: 2px solid white;
  background: white;
  margin: 6px;
}

.dropdown-menu{
  padding-bottom: 0;
}
.menu{
    z-index: 40;
    position: absolute;
    top: 8px;
    left: 8px;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.loading {
  position: absolute;
  top: 25%;
  left: 25%;
}
