.drop_down{
  background: url('https://api.iconify.design/logos:treehouse.svg') no-repeat center center / contain;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0px;
  top: 1px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.761458) 85.94%, rgba(255, 255, 255, 0) 100%);
}
#switch {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 25px;
  top: 10px;
  z-index: 1;
}
.container {
  position: absolute;
  width: 375px;
  height: 812px;
  top:0;
  right: 0;
}
#map {
  width: 375px;
  height: 812px;
}

.my-custom-control {
  color: #f00;
  background: #000;
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
  height: 64px;
  width: 96px;
}

.my-custom-control a {
  text-decoration: none;
}

.my-custom-control-active {

}
